/* Basic page layout */
div.page
{
	position:absolute;
	left:12.5%;
	width:75%;
	height:100%;
}
div.greeting
{
	position:absolute;
	top:5%;
	width:100%;
	height:5%;
	background:#aaf;
	text-align:center;
}
div.cardlists
{
	position:absolute;
	top:15%;
	width:100%;
	height:7%;
	background:#aaf;
	text-align:center;
}
div.review
{
	position:absolute;
	top:22%;
	width:100%;
	height:53%;
	background:#ccf;
	text-align:center;
}
div.add_card
{
	position:absolute;
	top:75%;
	width:100%;
	background:#cdf;
}

/* Inside the review panel */

/* Review options on the left */
div.option_buttons
{
	position:absolute;
	top:25%;
	left:5%;
	width:20%;
	background:#ccf;
}
div.review_style
{
	text-align:left;
}
div.review_style input.option
{
	margin-left:25px;
	text-align:left;
}
 /* The main review box */
div.review_word
{
	position:absolute;
	top:15%;
	left:25%;
	width:50%;
	height:35%;
	background:#eff;
	display:table;
}
div.review_text
{
	position:absolute;
	top:50%;
	left:25%;
	width:50%;
	height:35%;
	background:#eef;
	display:table;
}
div.text
{
	font-size:2em;
	overflow:auto;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
/* The font buttons on the side */
div.word_font_buttons
{
	position:absolute;
	top:25%;
	left:75%;
	width:5%;
	height:15%;
	background:#ccf;
}
div.text_font_buttons
{
	position:absolute;
	top:60%;
	left:75%;
	width:5%;
	height:15%;
	background:#ccf;
}
/* The review buttons on the bottom */
div.review_buttons
{
	position:absolute;
	top:85%;
	left:25%;
	width:50%;
	height:7.5%;
	background:#ccc;
}
div.review_buttons_below
{
	position:absolute;
	top:92.5%;
	left:25%;
	width:50%;
	height:7.5%;
	background:#ccc;
}

/* Other general CSS stuff (coloring, whatever) */
label[disabled]
{
	color:#777;
}
