/* Basic page layout */
div.page
{
	position:absolute;
	left: 12.5%;
	width: 75%;
	height: 100%;
	font-family: "Gentium", "DejaVu LGC Serif", "New Athena Unicode", "Galatia SIL", "Arial Unicode MS", "Lucida Grande";
}

/* Navigation */
#navigation-base {
	clear: both;
}
#navigation {
	clear: both;
}
#navigation .left {
	/* background: url('../images/navigation.png') no-repeat left top;
	background: url('../images/navigation_l.png') no-repeat left top;*/
}
#navigation ul {
	list-style-type: none;
	overflow: auto;
	margin: 2px;
	padding: 2px;
}
#navigation ul li {
	float: left;
	margin: 2px;
	padding: 2px;
	display: block;
}
#navigation ul li.right {
	float: right;
	/*background: url('../images/navigation.png') no-repeat right top;*/
}
#navigation ul li a {
	/*background: url('../images/navigation_s.png') no-repeat right top;*/
}
#navigation ul li.selected a {
}
#navigation ul li.last a{
	background-image: none;
}
#navigation ul li a:hover {
}

div.content {
	clear:both;
}
div.greeting
{
	margin-top:5%;
	background:#aaf;
	text-align:center;
}
div.review_style
{
	text-align:center;
	background:#abf;
}
div.wordlists
{
	background:#aaf;
	text-align:center;
}
div.above_review
{
	background:#ccc;
	text-align:center;
}
div.review
{
	height:60%;
	background:#ccc;
	text-align:center;
}
div.add_word
{
	clear:both;
}
div.add_word ul
{
	list-style-type: none;
}

/* Inside the review panel */

/* Review options on the left */
div.options
{
	margin-top:25%;
	margin-right:10%;
	background:#ccf;
	text-align:left;
	float:right;
}
/* The main review box */
div.center_review
{
	width:50%;
	height:100%;
	float:left;
	margin-left:auto;
	margin-right:auto;
}
div.left_review
{
	width:25%;
	float:left;
	margin-left:auto;
	margin-right:auto;
}
div.right_review
{
	width:5%;
	float:left;
	margin-left:auto;
	margin-right:auto;
}
div.tags
{
	width:20%;
	float:left;
	text-align:center;
}
div.word_tags
{
	text-align:center;
	display:table;
	margin-left:auto;
	margin-right:auto;
}
div.review_word
{
	width:100%;
	height:40%;
	background:#eff;
	display:table;
}
div.review_definition
{
	width:100%;
	height:40%;
	background:#eef;
	display:table;
}
div.text
{
	font-size:2em;
	overflow:auto;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
}
/* The font buttons on the side */
div.word_font_buttons
{
	background:#ccf;
	margin-top:100%;
	text-align:left;
}
div.definition_font_buttons
{
	background:#ccf;
	margin-top:220%;
	text-align:left;
}
/* The review buttons on the bottom */
div.review_buttons
{
	background:#bbb;
	margin-left:auto;
	margin-right:auto;
}
div.review_buttons_below
{
	background:#bbb;
	margin-left:auto;
	margin-right:auto;
}
div.drill_form_buttons
{
	background:#bbb;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}
div.drill_form_buttons ul
{
	list-style-type:none;
	padding:0;
	margin-left:0;
}

/* Other general CSS stuff (coloring, whatever) */
label[disabled]
{
	color:#777;
}

div.add_word input[type=text]
{
	width:400px;
}
td.remove {
	color:#000F3E;
	text-decoration:none;
}
td.remove:hover, td.link:hover, .clickable_text:hover {
	cursor:pointer;
}

.words_in_list a {
	text-decoration: none;
	color:#000;
}

input[readonly="True"] {
	border: 0;
}

div.single-word-form input[type=text] {
}

#id_single_word_form th {
	text-align: center;
}

span.warning {
	color: #F00;
	margin-left: 5px;
}

.add_irregular_form:hover {
	cursor: pointer;
}

.delete_irregular_form:hover {
	cursor: pointer;
}

.undo_delete_irregular_form:hover {
	cursor: pointer;
}
