{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
<div id="id_table_view">

<select id="id_person">
	{% for person in persons %}
	<option value="{{ person|variablize }}"
	{% ifequal person current_person %}
		selected
	{% endifequal %}
	>
		{{ person }}
	</option>
	{% endfor %}
</select>

<select id="id_number">
	{% for number in numbers %}
	<option value="{{ number|variablize }}"
	{% ifequal number current_number %}
		selected
	{% endifequal %}
	>
		{{ number }}
	</option>
	{% endfor %}
</select>

<div id="id_form_table">
{{ table|safe }}
</div>

See this table for another verb:

<select id="id_verb">
	{% for verb in verbs %}
	<option value="{{ verb.id }}"
	{% ifequal verb.id current_verb.id %}
		selected
	{% endifequal %}>
		{{ verb.word.word }}
	</option>
	{% endfor %}
</select>

</div>
{% endblock %}
