{% extends "vocab/review.html" %}

{% block options %}
<table>
	<tr>
		<td>
			<label for="id_by_definition" class="option">
				<input type="checkbox"
				name="by_definition"
				value="by_definition"
				class="option"
				id="id_by_definition"
				{% if by_definition %}
				checked
				{% endif %}
			   	/>
				By Definition
			</label>
		</td>
	</tr>
	{% for order in orderings %}
	<tr>
		<td>
			<label for="id_{{ order.db_name }}" class="option">
				<input type="radio"
				name="review_order"
				value="{{ order.db_name }}"
				class="option"
				id="id_{{ order.db_name }}"
				{% ifequal ordering order.db_name %}
				checked
				{% endifequal %}
			   	/>
				{{ order.name }}
			</label>
		</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
