{% extends "three_column_base.html" %}

{% block above_review %}
  {% block word_list_info %}

  {% if wordlist %}
  <div class="words">
    <span id="id_need_reviewing">{{ num_to_review }}</span> words need
    reviewing out of <span id="id_num_words">{{ num_words }}</span> total words
  </div>
  {% endif %}

  {% endblock %}

  <div class="word_difficulty">
    Estimated time in memory: {{ word.time_in_memory }};
    Times reviewed: {{ word.review_count }}
  </div>
{% endblock %}

{% block center_column %}
<div class="center_review">
    <div class="review_word">
        <div class="text">
            {% if not by_definition %}
            {{ word.word }}
            {% else %}
            {{ word.definition }}
            {% endif %}
        </div>
    </div>
    <div class="review_definition">
        <div class="text" style="display:none">
            {% if not by_definition %}
            {{ word.definition }}
            {% else %}
            {{ word.word }}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block left_column %}
<div class="left_review">
    <div class="options">
    {% block options %}
    {% endblock %}
    </div>
</div>
{% endblock %}

{% block right_column %}
{% endblock %}

{% block below_review %}
<div class="review_buttons ui-widget-header">
  {% block top_row_buttons %}
  <div>
    <div class="ui-button ui-state-default" id="id_show_definition"/>
      <a class="ui-button-text" accesskey=s>
        {% if not by_definition %}
        Show definition
        {% else %}
        Show word
        {% endif %}
      </a>
    </div>
  </div>
  {% endblock %}
  {% block bottom_row_buttons %}
  <div class="second_row_buttons">
    <div class="ui-button ui-state-default" id="id_easy">
      <a class="ui-button-text" accesskey=y> That was easy </a>
    </div>

    <div class="ui-button ui-state-default" id="id_medium">
      <a class="ui-button-text" accesskey=m> I got it, but it took a while </a>
    </div>

    <div class="ui-button ui-state-default" id="id_hard">
      <a class="ui-button-text" accesskey=h> I didn't get it...  </a>
    </div>
  </div>
  {% endblock %}
</div>
{% endblock %}

