<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Memorization Program</title>
<link rel="stylesheet" title="default" href="/site-media/style.css" type="text/css" />
<script type="text/javascript" src="/site-media/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/site-media/scripts.js"></script>
</head>

<body>

<div class="sitemenu">
</div>

<div class="page">

{% block content %}
{% endblock %}

</div>

</body>
<script type="text/javascript" src="/site-media/init_scripts.js"></script>
</html>
