<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>Memorization Program</title>
<link rel="stylesheet" title="default" href="/site-media/style.css" type="text/css" />
<script type="text/javascript" src="/site-media/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/site-media/scripts.js"></script>

{% block script_config %}
{% endblock %}

</head>

<body>

<div class="sitemenu">
</div>

<div class="page">

{% block greeting %}
<div class="greeting">
{{ greeting }}
</div>
{% endblock %}

{% block errors %}
<div class="errors">
	{% if errors %}
	<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}

{% block review_styles %}
<div class="review_style">
	Review style:
	<select id="id_review_style" onChange="switch_review_style()">
		{% for style in review_styles %}
		<option value="{{ style.link }}"
		{% ifequal style.link review_style %} selected {% endifequal %}>
		{{ style.name }}
		</option>
		{% endfor %}
	</select>
</div>
{% endblock %}


{% block wordlists %}
<div class="wordlists">
	{% if wordlists %}
	You are currently looking at word list: 
	<select id="id_wordlist" onchange="get_word_list()">
		{% for list in wordlists %}
			<option value="{{ list.name }}"
			{% ifequal list wordlist %}selected{% endifequal %}>
			{{ list.name }}
			</option>
		{% endfor %}
	</select>
	<input type="submit" value="Delete list" id="id_delete_list" />
	{% else %}
	You don't have any word lists!
	{% endif %}
	<div class="create_list">
		<form method="post" action="create-word-list"> {% csrf_token %}
		New word list:
		<input type="text" name="name" maxlength="128" />
		<input type="submit" value="Create list" id="id_create_list"/>
		</form>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}

</div>

</body>
<script type="text/javascript" src="/site-media/init_scripts.js"></script>
</html>
