<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
<title>Memorization Program</title>
<link rel="stylesheet" title="default" href="/site-media/style.css" type="text/css" />
<script type="text/javascript" src="/site-media/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/site-media/scripts.js"></script>

{% block script_config %}
{% endblock %}

</head>

<body>

<div class="page">

<div id="navigation">
	<ul>
		<li><a href="/">Logo</a></li>
		{% if wordlist %}
		<li>Current list:
			<a href="/{{ wordlist.name }}">{{ wordlist.name }}</a>
		</li>
		<li><a href="/{{ wordlist.name }}/all-words">Review Vocab</a></li>
		<li><a href="/{{ wordlist.name }}/forms">Drill Forms</a></li>
		{% endif %}
	</ul>
	<div class="right">
		<ul>
			<li>Log out</li>
		</ul>
	</div>
</div>

{% block errors %}
<div class="errors">
	{% if errors %}
	<ul>
	{% for error in errors %}
	<li>{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</div>
{% endblock %}

<div class="content">
{% block content %}
{% endblock %}
</div>

</div>

</body>
<script type="text/javascript" src="/site-media/init_scripts.js"></script>
</html>
