{% extends "review.html" %}

{% block script_config %}
<script charset="utf-8" type="text/javascript">
	$.fn.message_config = function() {};
	$.fn.message_config.before_card_number = "You have reviewed ";
	$.fn.message_config.after_card_number = " cards so far<br>There are ";
	$.fn.message_config.after_num_cards = " cards in this list.";
</script>
{% endblock %}

{% block card_list_info %}

{% if cardlist %}
<div class="cards">
	You have reviewed {{ cards_reviewed }} cards so far.
	<br>
	There are {{ num_cards }} cards in this list.
</div>
<div class="cardlist_difficulty">
	Average difficulty of cards: {{ average_difficulty|floatformat:"2" }}
</div>
{% endif %}

{% endblock %}

{% block review_buttons %}
<input type="submit"
value="Show text"
accesskey=s
id="id_show_text"/>
{% endblock %}
