{% extends "base.html" %}

{% block script_config %}
<script charset="utf-8" type="text/javascript">
	$.fn.message_config = function() {};
	$.fn.message_config.before_word_number = "Reviewing word  ";
	$.fn.message_config.after_word_number = " out of ";
	$.fn.message_config.after_num_words = "";
</script>
{% endblock %}

{% block content %}

<div class="above_review">
	{% block word_list_info %}

	{% if wordlist %}
	<div class="words">
		Reviewing word {{ word_number }} out of {{ num_words }}
	</div>
	<div class="wordlist_difficulty">
		Average difficulty of words: {{ average_difficulty|floatformat:"2" }}
	</div>
	{% endif %}

	{% endblock %}

	<div class="word_difficulty">
		This word's difficulty: {{ word.average_difficulty|floatformat:"2" }}
	</div>
</div>

<div class="review">

	<div class="left_review">
		<div class="options">
		{% block options %}
		{% endblock %}
		</div>
	</div>

	<div class="center_review">
		<div class="review_word">
			<div class="text">
				{{ word.word }}
			</div>
		</div>
		<div class="review_text">
			<div class="text" style="display:none">
				{{ word.definition }}
			</div>
		</div>
		<div class="review_buttons">
		{% block review_buttons %}
			<input type="submit"
			value="Previous Word"
			accesskey=p
			id="id_prev_word"/>
			<input type="submit"
			value="Show text"
			accesskey=s
			id="id_show_text"/>
			<input type="submit"
			value="Next Word"
			accesskey=n
			id="id_next_word"/>
		{% endblock %}
		</div>
		<div class="review_buttons_below">
		{% block review_buttons_below %}
			<input type="submit"
			value="That was easy"
			accesskey=y
			id="id_easy"/>
			<input type="submit"
			value="I got it, but it took a while"
			accesskey=m
			id="id_medium"/>
			<input type="submit"
			value="I didn't get it..."
			accesskey=h
			id="id_hard"/>
		{% endblock %}
		</div>
	</div>

	<div class="right_review">
		<div class="word_font_buttons">
			<input type="submit" value="+" id="id_increase_word_size" />
			<br>
			<input type="submit" value="&ndash;" id="id_decrease_word_size" />
		</div>

		<div class="text_font_buttons">
			<input type="submit" value="+" id="id_increase_text_size" />
			<br>
			<input type="submit" value="&ndash;" id="id_decrease_text_size" />
		</div>
	</div>

	<div class="tags">
		<div class="filter">
			<table>
				<tbody id="id_filter_form">
					{{ filter|safe }}
				</tbody>
			</table>
		</div>
		<hr>
		<div class="word_tags">
			{% if word.tags.all %}
				{% for tag in word.tags.all %}
				{% if not forloop.first %}, {% endif %}
				{{ tag }}
				{% endfor %}
			{% else %}
				This word has no tags
			{% endif %}
		</div>
		<div class="add_tag">
			<select id="id_add_tag">
				{% for tag in tags %}
				<option value="{{ tag }}"> {{ tag }} </option>
				{% endfor %}
			</select>
			<input type="submit" value="Add tag" id="id_add_tag_button" />
		</div>
		<div class="create_tag">
			Create new tag:<br>
			<form method="post" action="add-tag"> {% csrf_token %}
				<input type="text" name="name" maxlength="128" />
				<input type="submit" value="Create Tag" id="id_create_tag"/>
			</form>
		</div>
	</div>

</div>

<div class="add_word">

<form method="post" action="add-word-to-list"> {% csrf_token %}
	Word: <input type="text" name="word" maxlength="128" />
	Text: <input type="text" name="text" maxlength="128" />
	<input type="submit" value="Add Word" id="id_add_word"/>
</form>

</div>

{% endblock %}
