{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
<div class="review">
	<div class="center_review">
		<div class="review_word">
			<div class="text">
				{{ inflected_form }}
			</div>
		</div>
		<div class="drill_form_buttons">
			<table>
				<tr>
					<td>
						Person
						<select id="id_person" class="view_form">
							{% for person in persons %}
							<option value="{{ person|variablize }}">
								{{ person }}
							</option>
							{% endfor %}
						</select>
					</td>
					<td>
						Number
						<select id="id_number" class="view_form">
						{% for number in numbers %}
						<option value="{{ number|variablize }}">
							{{ number }}
						</option>
						{% endfor %}
						</select>
					</td>
					<td>
						Tense
						<select id="id_tense" class="view_form">
						{% for tense in tenses %}
						<option value="{{ tense|variablize }}">
							{{ tense }}
						</option>
						{% endfor %}
						</select>
					</td>
					<td>
						Mood
						<select id="id_mood" class="view_form">
						{% for mood in moods %}
						<option value="{{ mood|variablize }}">
							{{ mood }}
						</option>
						{% endfor %}
						</select>
					</td>
					<td>
						Voice
						<select id="id_voice" class="view_form">
						{% for voice in voices %}
						<option value="{{ voice|variablize }}">
							{{ voice }}
						</option>
						{% endfor %}
						</select>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="right_review">
		<select id="id_verblist" onchange="get_new_verb()">
			{% for v in verbs %}
				<option value="{{ v.id }}"
				{% ifequal v.id verb_id %}selected{% endifequal %}>
				{{ v.word }}
				</option>
			{% endfor %}
		</select>
	</div>
</div>
{% endblock %}
